body {
  color: #4d4d4d;
}

button {
  border-radius: 5px;
}

.float-child {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  float: left;
}

.parent-for-float {
  border: 1px solid black;
}

.parent-for-float:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.bubble-container {
  height: 50px;
}

.bubble {
  color: #ffffff;
  background-color: #999966;
  border: 1px solid #4d4d4d;
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 8px;
  border-radius: 5px;
}

.bubble .arrow {
  border-style: solid;
  position: absolute;
}

.bottom {
  border-color: #4d4d4d transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
}

.bottom:after {
  border-color: #999966 transparent transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
  bottom: 1px;
  content: "";
  position: absolute;
  left: -7px;
}

.tip {
  text-decoration: none;
  position: relative;
}

.tip:hover:before {
  position: absolute;
  padding: 0.5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  /* width: auto;
  height: auto; */
  white-space: nowrap;
  top: -32px;
  background: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 5px;
  -webkit-obrder-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.8em;
}

.tip:hover:after {
  position: absolute;
  display: block;
  content: "";
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  height: 0;
  width: 0;
  top: -5px;
  left: 1em;
}

/* accordion */
.a-container {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 600px;
  margin: 20px auto;
}

.a-container input[type=radio] {
  display: none;
}

.a-container label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  color: #aaaaaa;
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

/* arrow */
.a-container label:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid #aaaaaa;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  positioN: absolute;
  right: 10px;
  top: 16px;
}

.a-container input:checked + label,
.a-container label:hover {
  background-color: #dddddd;
  color: #222222;
}

/* up arrow */
.a-container input:checked + label:after {
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #222;
  border-left: 6px solid transparent;
  top: 6px;
}

.a-content {
  padding: 0 20px 20px;
  display: none;
}

.a-container input:checked ~ .a-content {
  display: block;
}
